
<h3 class="display-6">CRUD Contribuyentes</h3>

<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
  
      <div class="col-12 col-xl-6 col-md-6">
  
        <div class="card">
          <div class="card-header">
            <b>Listado de Contribuyentes</b>
          </div>
          <div class="card-body">
            <form [formGroup]="formularioContribuyente">
  
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ingrese el RNC" formControlName="rncCedula">
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ingrese el Nombre" formControlName="nombre">
                
                
                
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ingrese el Tipo" formControlName="tipo">
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ingrese el Estado" formControlName="estatus">
              </div>
              <div class="input-group mb-3">
                <button class="btn btn-primary" type="button" [disabled]="formularioContribuyente.invalid"
                (click)="agregarContribuyente()"
                >Agregar</button>
              </div>
            </form>
  
            
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>RNC/Cédula</th>
                  <th>Nombre</th>
                  <th>Tipo</th>
                  <th>Estatus</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let contribuyente of listaContribuyente" (click)="seleccionarContribuyente(contribuyente)">
                  <td>{{ contribuyente.rncCedula }}</td>
                  <td>{{ contribuyente.nombre }}</td>
                  <td>{{ contribuyente.tipo }}</td>
                  <td>{{ contribuyente.estatus }}</td>
                  <td>
                    <button class="btn btn-secondary btn-sm" (click)="actualizarContribuyente(contribuyente.rncCedula)">Actualizar</button>
                    <br>
                    <button class="btn btn-danger btn-sm" (click)="eliminarContribuyente(contribuyente.rncCedula)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>