

<h3 class="display-6">Consulta por RNC/Cedula</h3>


<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-6 col-md-6">
      <div class="card">
        <div class="card-header">
          <b>Formulario de Comprobante Fiscal</b>
        </div>
        <div class="card-body">
          <form [formGroup]="formularioNCF" (ngSubmit)="agregarContribuyente()">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="RNC/Cédula" formControlName="rncCedula">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="NCF" formControlName="ncf">
              
            </div>
            <div class="input-group mb-3">
              <input type="number" class="form-control" placeholder="Monto" formControlName="monto">
              
            </div>
            <div class="input-group mb-3">
              <input type="number" class="form-control" placeholder="ITBIS 18%" formControlName="itbis18">
              
            </div>
            <div class="input-group mb-3">
              <button class="btn btn-primary" type="submit" [disabled]="formularioNCF.invalid">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-6 col-md-6">
            <div class="card">
                <div class="card-header">
                    <b>NCF por RNC/Cedula</b>
                </div>
  
                <div class="card-body">
                    <form (submit)="getComprobante(rnc)">
                        <label for="rnc">RNC:</label><br>
                        <input type="text" class="form-control" id="rnc" name="rnc" [(ngModel)]="rnc"><br>
                        <input type="submit" class="btn btn-primary" value="Obtener Comprobante">
                      </form>
  
  
                      <ng-container *ngIf="error">
                        <p class="text-danger">{{ error }}</p>
                      </ng-container>
  
                      <ng-container *ngIf="comprobantes.length > 0">
                        <p>Suma de ITBIS: <b>{{ sumaitbis }}</b></p>
                        <ul>
                          <li *ngFor="let comprobante of comprobantes">
                            <p><b>RNC/Cedula: </b> {{ comprobante.rncCedula }}</p>
                            <p><b>NCF: </b> {{ comprobante.ncf }}</p>
                            <p><b>Monto: </b> {{ comprobante.monto }}</p>
                            <p><b>Itbis 18%: </b> {{ comprobante.itbis18 }}</p>
                            <hr>
                          </li>
                        </ul>
                      </ng-container>
                      
                </div>
  
            </div>
        </div>
    </div>
  </div>